{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}



{{#with data.products}}
{{#if isEmpty}}
<h2 class="card__empty">Пусто. Будь ласка, створіть товар.</h2>
{{else}}
{{#each list}}
<div class="card">
  <div class="card__content">
    <div class="card__name">{{name}}</div>
    <div class="card__description">{{description}}</div>
    <div class="card__id">ID: {{id}}</div>
    <div class="card__actions">
      <div class="card__price">{{price}}$</div>
      <button class="card__button"><a href="/product-edit?id={{id}}">Редагувати</a></button>
    </div>
  </div>
</div>
{{/each}}
{{/if}}
{{/with}}

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}